@model Loja.Mvc.Areas.Admin.Models.ProdutoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.Partial("~/Areas/Admin/Views/Produtos/_ProdutoForm.cshtml", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
