<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="caminhoArquivoCor" value="dados/cor.txt"/>
		<add key="caminhoArquivoMarca" value="dados/marca.txt"/>
		<add key="caminhoArquivoModelo" value="dados/modelo.xml"/>
		<add key="caminhoArquivoVeiculo" value="dados/veiculo.xml"/>
	</appSettings>
</configuration>